apiVersion: v1
kind: Secret
metadata:
  name: methodology-secrets
  namespace: {{ namespace }}
type: Opaque
stringData:
{% for item in k8s_secrets | dict2items %}
  {{ item.key }}: "{{ item.value }}"
{% endfor %}
